<%= form_for wiki do |f| %>
    <div class="input-field">
        <%= f.text_field :title %>
        <%= f.label :title %>
    </div>
    <div class="input-field">
        <%= f.text_area :body, class: 'materialize-textarea' %>
        <%= f.label :body %>
    </div>
    <% if current_user.admin? || current_user.premium? %>
        <div class="input-field">
            <%= f.check_box :private %>
            <%= f.label :private %>
        </div>
    <% end %>
    <div id="save-position">
        <%= f.submit "Save", class: 'btn waves-effect waves-light' %>
    </div>
<% end %>