<% if current_user.standard? %>
    <%= form_tag charges_path do %>
        <h4>Upgrade Account</h4>
        <br/>
        <div id="pay-button">
            <script
                class='stripe-button' 
                src="https://checkout.stripe.com/checkout.js" 
                data-key=<%= @stripe_btn_data[:key] %> 
                data-amount=<%= @stripe_btn_data[:amount] %> 
                data-description=<%= @stripe_btn_data[:description] %>>
            </script>
        </div>
        <br/>
        <script>
            $(function() {
                $('div#pay-button').click(function(event){
                    event.preventDefault();
                    $('div#upgrader').toggle();
                });
            });
        </script>
        <div id="upgrader" style="display:none;">
            <%= link_to "Upgrade to premium", user_change_role_path(current_user), method: :put, class: 'btn waves-effect waves-light' %>
        </div>
    <% end %>
<% elsif current_user.premium? %>
    <h4>Cancel Premium Membership</h4>
    <%= link_to "I want to return to a standard account", user_change_role_path(current_user), method: :put, class: "btn red waves-effect waves-light" %>
<% end %>    
    
